PORT=3000
JWT_SECRET=your JWT secret
JWT_EXPIRES_IN=7d
DATABASE_URL=postgresql://postgres:Password@localhost:5432/expense_tracker
RESEND_API_KEY=your resend api key
LOG_LEVEL=info
NODE_ENV=development